/* ! DO NOT FORMAT(BEAUTIFY) THIS FILE! */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
	.small-keys {
		@apply key-shadow flex w-[67px] cursor-pointer items-center justify-around rounded border-none bg-[#353535] py-1;
	}

	.normal-keys {
		@apply key-shadow flex h-[50px] w-[50px] cursor-pointer items-center justify-around rounded border-none bg-[#353535] py-1 md:h-[57px] md:w-[57px] 2xl:h-[67px] 2xl:w-[67px];
	}

	.double-keys {
		@apply flex-col px-2 py-px text-xl;
	}

	.key {
		@apply text-base lg:text-lg 2xl:text-xl;
	}
}

.textarea {
	min-height: 40px;
}

.small-light {
	background-color: #fff !important;
	box-shadow: 0 0 4px #ffffff !important;
}

.key-down {
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	transform: translateY(4px);
}

.key-shadow {
	box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
}

.key-shadow:hover {
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	transform: translateY(4px);
	transition: all 0.1s;
}

.double-keys span:first-of-type {
	margin-right: auto;
}

.double-keys span:last-of-type {
	margin-left: auto;
}
