@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom properties for gradient colors */
@property --gradient-color-start {
	syntax: '<color>';
	inherits: true;
	initial-value: transparent;
}
@property --gradient-color-end {
	syntax: '<color>';
	inherits: true;
	initial-value: transparent;
}

@layer base {
	:where(button, a):focus-visible {
		@apply outline outline-2.5px outline-offset-3px outline-transparent;
	}
}

@layer utilities {
	/* Apply transition on gradient background */
	.bg-zinc-300-to-400 {
		--gradient-color-start: theme('colors.zinc.300');
		--gradient-color-end: theme('colors.zinc.400');

		background-image: linear-gradient(to bottom, var(--gradient-color-start), var(--gradient-color-end));
		transition:
			--gradient-color-start 500ms,
			--gradient-color-end 500ms !important;
	}
	.bg-zinc-400-to-500 {
		--gradient-color-start: theme('colors.zinc.400');
		--gradient-color-end: theme('colors.zinc.500');

		background-image: linear-gradient(to bottom, var(--gradient-color-start), var(--gradient-color-end));
		transition:
			--gradient-color-start 500ms,
			--gradient-color-end 500ms !important;
	}

	.key--pressed {
		@apply translate-y-[2.5px] shadow-[0_1px_0_0_#00000033] duration-75;
	}
}

@layer components {
	.ripple-effect {
		@apply relative overflow-hidden before:absolute before:inset-0 before:-z-10 before:scale-[10] before:bg-[radial-gradient(circle,black_10%,transparent_10.01%)] before:opacity-0 active:before:scale-0 active:before:opacity-10 active:before:transition-none;
	}
	.ripple-effect::before {
		transition:
			all 0.5s,
			opacity 1s;
	}

	.btn {
		@apply ripple-effect z-10 flex h-11 flex-initial basis-22.5 items-center justify-center rounded-lg px-2 font-medium capitalize tracking-wide shadow duration-150 hover:shadow-sm lg:h-10 lg:min-w-25 lg:text-lg;
	}

	.capslock-light {
		@apply !bg-blue-100 shadow-[0_0_3px_0_#dbeafe];
	}

	.key {
		@apply active:key--pressed flex min-w-15 cursor-default items-center justify-around rounded-md bg-charcoal p-0.5 tracking-wide shadow-[0_4px_0_0_#00000033];
	}
	.key--double-characters {
		@apply flex-col-reverse;
	}
	.key--double-characters span:first-of-type {
		@apply ms-auto pe-2;
	}
	.key--double-characters span:last-of-type {
		@apply me-auto ps-2;
	}
}
